.post-comment
    .post-comment__title Comment it:
    form.form
        textarea Flannel bicycle rights chicharrones tacos craft beer blog messenger bag. Vexillologist brooklyn wolf raclette celiac readymade gluten-free. 
        .form__inputs
            input(type="text", placeholder="Your name" class="form__input form__input--name")
            input(type="email", placeholder="Email" class="form__input form__input--email")
            input(type="text", placeholder="Homepage" class="form__input form__input--homepage")
        button(type="submit" class="button button--dark button--commit") comment