header.header
    .header__social
        include ./../blocks/social-icons 
    .header__logo
        h1.logo
            a(href="./index.html").logo__link Hipsum Blog
    .header__buttons
        button.button-search
            img(src="./img/icons/search.svg", alt="search" width="26")
        button.button.button--dark.button--subscribe Subscribe