include ./../mixins/button-read-more
include ./../mixins/post-preview
include ./../mixins/post-widget
include ./../mixins/widget
include ./../mixins/widget-instagram-item
include ./../mixins/footer-nav
include ./../mixins/full-post
include ./../mixins/comment